<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- Registers the microsoft.IdentityModel configuration section -->
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- ADFS conf -->
  <microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="https://selfservicesql.ciodev.accenture.com" />
      </audienceUris>
      <applicationService>
        <claimTypeRequired></claimTypeRequired>
      </applicationService>
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="true" issuer="https://federation-sts-stage.accenture.com/adfs/ls/" realm="https://selfservicesql.ciodev.accenture.com" requireHttps="true" />
        <cookieHandler requireSsl="true" />
      </federatedAuthentication>
      <securityTokenHandlers>
        <!-- This section removes the default Session token handler and adds one that encrypts and decrypts the cookie with the machine key. This is "farm friendly"-->
        <remove type="Microsoft.IdentityModel.Tokens.SessionSecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add type="Accenture.Web.Security.WifExtensions.MachineKeySessionSecurityTokenHandler, Accenture.Web.Security.WifExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9eb34ae2502e210d" />
        <!-- We don't have an easy way to detect token replay across a farm environment so we just turn this off. It is less secure but more deployable.-->
        <securityTokenHandlerConfiguration>
          <tokenReplayDetection enabled="false" />
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add thumbprint="2a6ccc257298f525d6c7d71789cd8f7404f658a7" name="urn:federation:accenture:stage" />
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>
  <!-- redirect  error log for now -->
  <!-- merege with ADFS trace 
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\tmp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  -->
  <connectionStrings>
    <!-- 
      <add name="EntDbContext" connectionString="server=.;database=iSqlDb-Dev;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    -->
    <add name="EntDbContext" connectionString="server=CALHEER-TDSMCVN;database=iSql-Dev;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Domain" value="CalHEERS" />
    <add key="VersionNumber" value="1.2" />
    <add key="ClientValidationEnabled" value="true" /> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CheckTicketStatusInMin" value="1" />

    <!-- troubleshoot log4net dynamci prop issue -->
    <add key="log4net.Internal.Debug" value="true" />
    <!-- 
      Seeding data policy control during development cycle for Entity Framework code-first appraoches, besically, it controlls how EF should drop/create and populate seed data for dev and unit testing. 
      Please note, for SQL Server (not CE version), DROP may fail if db is busy, so do NOT fully trust Microsoft EF always makes things done. 

      Possible values: 

       always :  in early dev cycle or unit testing only, always DROP and re-create the testing db defined in your DbContext, very DANGEROUS. 
       non-exist:  only create the database when it is not exist. NOTE: if you rename your db, it won't work because  EF will check your underlying MDF file. 
       modified : DROP and recreate db when you modified your registered models. 
       manual : tell EF don't bother populating seed data, we will handle it manually. For production deployment, it is very ___IMPORTANT__ to set to this value.
    -->
    <add key ="EmailDomain" value ="Calheers.ca.gov"/>
    <add key="seed-data-policy" value="manual" />
    <add key="WorkingFolder" value="C:/tmp/sss-working/" />
    <add key="AllowLandingPage" value="True" />
    <add key="MaximumLogFileSize" value="1048576" />

    <!-- ADFS claim type configurations, must match current federation server settings. 
         Please keep it here even you don't use ADFS in your local testing environment. -->
    <add key="AdfsClaimGroup" value="http://schemas.xmlsoap.org/claims/Group" />
    <add key="AdfsClaimEnterpriseId" value="http://schemas.xmlsoap.org/claims/Accenture.EnterpriseID" />

    <!-- web host conf -->
    <add key="RootUrl" value="" />

    <!-- Mail configuration -->
    <add key="MailFrom" value="gourav.shrivastava@gmail.com" />
    <!--<add key="MailTo" value="gourav.shrivastava@accenture.com" />-->
    <add key="MailBodyTemplateFile" value="DbaNotificationTemplate.txt" />
    <add key="MailBannerFile" value="Email_Banner_01.jpg" />

    <!-- In local testing environment, we may not have SMTP environment avaialble - actually we don't even have working SMTP email, 
         by configure the setting below can help developers finish the flow even without proper SMTP server configured. -->
    <add key="SMTPEnabled" value="False" />

    <!-- For now just put maintenance message here, will refactory it and move it to dedicated place such as db.-->
    <add key="HomePageMessage" value="We are testing this tool in staging enviornment and hence you may get errors." />

    <!-- ================== Notification Queue Configuraiton ===================== -->
    <add key="MQ_Enabled" value="False" />
    <!-- as of now, just listen on localhost, can scale to another host if needed -->
    <add key="MQ_HostName" value="localhost" />
    <!-- time in ms for message delivery TTL, if message lives longer than this threshold, it will be automtically removed, in case of app pool recycling/crash, etc, we don't want user to have staled info in queue. -->
    <add key="MQ_DBA_Message_TTL" value="60000" />

    <!-- during debugging session, you can connect those queues directly by changing the queue name configuration name below, during deployment, we may add extra layers in between  -->
    <!-- queue name for notification receiving channel, all public message send to DBA notification can be fetched from this queue, it is the "reduced" and analzyed version of all message sources. -->
    <add key="MQ_DBA_Notification_Queue" value="message_to_dba" />

    <!-- queue for sending new request information -->
    <!--<add key="MQ_DBA_New_Request" value="dba_new_request" />-->
    <add key="MQ_DBA_New_Request" value="message_to_dba" />
    <!-- queue name for dba decision, all approve or reject decision messages will be sent to this queue -->
    <!--<add key="MQ_DBA_Decision_Queue" value="dba_decision" />-->
    <add key="MQ_DBA_Decision_Queue" value="message_to_dba" />

    <!-- switch to control features of CIO specific contents such as internal links, etc -->
    <add key="EnableCIOSpecificContent" value="False" />
    <add key="FooterVersionInfo" value="[ R1.3 Alpha ]" />
  
    <!-- Turn Visual Studio features on and off-->
    <!-- turn off browser link for now, even in local dev mode -->
    <add key="vs:EnableBrowserLink" value="False" />

  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.
    
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- ADFS configuration requirement,  use static machine key manually generated by IIS 7 here, to make sure future clustering possbile. -->
    <machineKey decryption="AES" decryptionKey="A00E5C189827E9DCF1485D089D6B7850A88F634CC5F31DD3" validation="SHA1" validationKey="F425A5012EDF78D104E856D945587FB6EC89D27B40A355D929E35443113122D7864664C3DB7253B89BE91703E7A4A0537DB75CF67324AED5492D10269DB08B57" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!-- ADFS WIF references, question here, do we really have to stick with System.Core 3.5 here even we are runnning .NET 4.5? -->
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!-- based on ADFS team doc, uncommenting the following line will support applications targeting the .NET 4.0 framework -->
    <httpRuntime requestValidationMode="2.0" maxRequestLength ="102400" />
<!--
     NOTE: when we enable ADFS, we have to switch to None authentication mode, since authentication was provided by STS federation servers. When you switch to local dev environment and want to bypass ADFS, then you need to change it to Windows.
 -->
    <authentication mode="Windows" />
    <!-- ADFS config: disable .NET authentication -->
    <!--<authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>  

  <!-- Please note, in IISExpress you need to enable anaonymous module otherwise exceptions may be thrown when serve dynamic requests like this one -->
  <location path="DbaNotification">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>  
 <system.webServer>
    
  <!--  need enable edge mode, since it is HTML5 based -->
  <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>

  <!-- 
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
      -->
  <!--
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="401" />
      <error statusCode="401" responseMode="ExecuteURL" path="/Error/Unauthorized" />
    </httpErrors>
    -->
  <!-- ADFS configuraiton, it is not my cup of tea to configure web server settings here but that's what ADFS team asked. -->
  <!-- Registers the FederatedAuthenticationModule in IIS 7.0 "integrated mode" applications -->
  <modules>
      <!--<add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />-->
      <!--<add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />-->
    </modules>
  <!-- Allows the use of this web.config in "classic" ASP.NET mode. -->
  <validation validateIntegratedModeConfiguration="false" />
  <tracing>
            <traceFailedRequests>
                <remove path="*" />
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="400-999" />
                </add>
            </traceFailedRequests>
        </tracing>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <!-- NOTE: in original ADFS team doc, they add compiler support to enable LINQ extension support, which is not necessary in .NET 4.5, and they hard coded the version to 3.5, which is not right. So I just simply ignore them on that configuration section. -->
  <!-- Comment the lines below to disable WIF tracing to: WIFTrace.e2e. 
  Open the trace file using the SvcTraceViewer.exe tool (shipped with the WCF SDK available from Microsoft) or a xml viewer.  -->
  <system.diagnostics>
    <sources>
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WIFTrace.e2e" />
        </listeners>
      </source>
    </sources>

    <!-- old logging, redirect -->
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\tmp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

 <!-- SMTP server configuration, please note local email relay test may fail since it requires remote Exchange server trust configuraiton. Please test it on testing server environment. -->
  <system.net>
    <mailSettings>
      <smtp>
        <!--<network host="AMR.SMTP.ACCENTURE.COM" defaultCredentials="true" enableSsl="true" port="25" />-->
        <network host="smtp.gmail.com" port="587" defaultCredentials="true" userName="gourav.shrivastava@gmail.com" password="newdelhi" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>