
@{
    ViewBag.Title = "Application User";
}

@section scripts {
    <script src="~/App/ViewModels/UserViewModel.js"></script>
}
<div ng-app="userModule">
    Here are the list<br />
<div ng-view></div>              
</div>
