@{
    ViewBag.Title = "NoProjectAccess";
}


<div class="info"> 
   You currently do not have access to <strong>ANY</strong> projects, and hence no rights to upload scripts.  <br /> <br /> 

   Please contact admin to grant you proper access.
</div>