@{
    ViewBag.Title = "★ Self Service SQL - Admin";
    ViewBag.Menu = "Admin";
}

<div id="cpanel">
    <a href="/User/"><p><img src="@Url.Content("~/Content/img/users.png")" alt="users"/> <span>User Management</span></p></a> <br />
    <a href="/Project/"><p><img src="@Url.Content("~/Content/img/project.png")" alt="project"/> <span>Project Management</span></p></a> <br />
    <a href="/Monitor/Locks"><p><img src="@Url.Content("~/Content/img/lock.png")" alt="lock"/> <span>Running Query Locks</span></p></a> <br />
    <a href="/Report"><p><img src="@Url.Content("~/Content/img/pie_chart.png")" alt="lock"/> <span>Reports Center</span></p></a> <br />
</div>