<div ng-controller="userViewModel">
    <h2>Section -  {{pageHeading}}</h2>
    <table class="table table-hover">
        <tr>
            <th>UserId</th>
            <td>{{user.UserId}}</td>
        </tr>
        <tr>
            <th>Email Id</th>
            <td>{{user.PreferredEmailId}}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td>{{user.SystemRole}}</td>
        </tr>
        <tr>
            <th>Is Active</th>
            <td>{{user.IsActive}}</td>
        </tr>
    </table>

</div>